<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="~{base::layout(~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:th:text="${title}">about</title>
</head>
<body>
    <!-- <h1>jefhlwshfbksabkf</h1> -->
    <!-- <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center">
         <h1>SmartContactManager</h2>
             <p>Start collecting your contacts in a Smart Way. We provide very efficient and smarter way of handling contacts</p>
             <button type="button" class="btn btn-primary">Get Stated</button>
        </div>
     </section> -->
     <!-- <h2>dajfbkhasbfalgflia</h2> -->
      <h1>Inside About Page....... .</h1>
</body>
</html>