<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section >
        <h1>Inside section of AboutNew Page</h1>
        <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae sed perferendis iure modi repellendus aspernatur quibusdam quisquam! Amet tempora praesentium ullam aliquid dolore libero veniam velit? Beatae magni saepe eum.
        </p>
    </section>
</body>
</html>