<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer id="fragmentTag1" th:fragment="footer1">
        <div class="container">
            <h1>About Thymeleaf .. footer 1</h1>
            <h2>Feel Free to contact anytime</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem voluptates laudantium rem impedit! Cupiditate, deleniti ducimus consequuntur porro nisi doloremque voluptatem neque debitis corporis, enim voluptate recusandae quidem doloribus unde.</p>
        </div>
    </footer>
    <footer id="fragmentTag2" th:fragment="footer2">
        <div class="container">
            <h1>About Thymeleaf .. footer 2</h1>
            <h2>Feel Free to contact anytime</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem voluptates laudantium rem impedit! Cupiditate, deleniti ducimus consequuntur porro nisi doloremque voluptatem neque debitis corporis, enim voluptate recusandae quidem doloribus unde.</p>
        </div>
    </footer>
    <footer id="fragmentTag3" th:fragment="footer3">
        <div class="container">
            <h1>About Thymeleaf .. footer 3</h1>
            <h2>Feel Free to contact anytime</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem voluptates laudantium rem impedit! Cupiditate, deleniti ducimus consequuntur porro nisi doloremque voluptatem neque debitis corporis, enim voluptate recusandae quidem doloribus unde.</p>
        </div>
    </footer>
</body>
</html>